header,
main {
  margin: 0 auto;
  max-width: 50em;
}

header {
  text-align: center;
}

body {
  line-height: 1.5;
  background: rgb(242, 242, 242);
  color: #566b78;
  font-family: "Helvetica", "Arial", sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 20px;
}

h1, strong {
  color: #333;
  font-weight: 500;
}

#me {
  border-radius: 2%;
  margin-bottom: 20px;

  width: 50%;
  float: left;
  margin-right: 60px;
}

@media (max-width: 500px) {
  #me {
    width: 100%;
    float: none;
    margin-right: 0px;
  }
}
